<div class="jumbotron">
  <h1 class="display-4"><%= @article.title %></h1>
  <p class="lead"><%= @article.body %></p>
  <hr class="my-4">
  <p>Created At:
    <%= @article.created_at %>
    | Updated At:
    <%= @article.updated_at %></p>
  <%= link_to 'Edit', edit_article_path(@article),class:"btn btn-warning" %>
  <%= link_to 'Destroy', @article, data: {
              method: :delete,
              confirm: "Are you sure?"
            },class:"btn btn-danger" %>
  <%= link_to 'Back', articles_path(@article),class:"btn btn-secondary" %>
  <br><br>
  <h2 class="text-center">Comments</h2>
  <%= render @article.comments %>
  <br><br>

  <h2 class="text-center">Add a New Comment:</h2>
  <%= render 'comments/form' %>
</div>