<div class="jumbotron">
  <h1 class="display-4"><%= @article.title %></h1>
  <p class="lead"><%= @article.body %></p>
  <hr class="my-4">
  <p>Created At:
    <%= @article.created_at %>
    | Updated At:
    <%= @article.updated_at %></p>
  <%= link_to 'Edit', edit_article_path(@article),class:"btn btn-warning" %>
  <%= link_to 'Destroy', article_path(@article), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } ,class:"btn btn-danger" %>
  <%= link_to 'Back', articles_path(@article),class:"btn btn-secondary" %>

  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
